<%= render partial: "shared/heading", locals: {title: 'Dashboard', tagline: 'Select/reject candidates'} %>

<div class="px-4 sm:px-6 lg:px-8">
  <div class="mt-8 flex flex-col">
    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
                <tr>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Name</th>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Email</th>
                    <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Website</th>
                    <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Role</th>
                    <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Newsletter</th>
                    <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                    <span class="sr-only">Edit</span>
                    </th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              <% @user_submissions.each do |user_submission| %>

                  <tr>
                    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">
                      <div class="flex items-center">
                        <div class="ml-4">
                          <div class="font-medium text-gray-900"><%= user_submission.first_name %></div>
                        </div>
                      </div>
                    </td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= user_submission.email %></td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= user_submission.website %></td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= user_submission.job_role %></td>
                    <td class="px-3 py-4 text-sm text-gray-500 max-w-xs">
                      <div class="text-gray-900"><%= user_submission.text %></div>
                    </td>
                    <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                      <div>
                        <%= form_for user_submission, url: admin_user_submission_path(user_submission) do |f| %>
                          <select id="user_submission_status" name="user_submission[status]" class="mt-1 mb-2 block w-full rounded-md border-gray-300 py-2 pl-3 pr-10 text-base focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                            <option <%= 'selected' if user_submission.status.nil? %>>Pending</option>
                            <option <%= 'selected' if user_submission.status == 'Approve' %>>Approve</option>
                            <option <%= 'selected' if user_submission.status == 'Reject' %>>Reject</option>
                          </select>
                          <%= f.submit 'Update', class: 'w-full rounded-md bg-primary px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-primary focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary' %>
                        <% end %>
                      </div>
                    </td>
                </tr>
              <% end %> <!-- Ensure this 'end' matches the 'each' block -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
